<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box; /* Add this line */
        }

        .form-group button {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .form-group button:hover {
            background-color: #45a049;
        }

        .error-message {
            color: red;
            margin-top: 10px;
        }
        .form-group input[type="checkbox"] {
            margin-left: 10px;
            transform: scale(1.5);
            vertical-align: middle;
            flex: 1;
        }

        .form-group label {
            display: flex;
            vertical-align: middle;
            flex-direction: row;
        }

        .form-group label p {
            margin: 0;
            flex: 3 1 auto;
        }

        .form-group a {
            color: #4CAF50;
            text-decoration: none;
        }

        .form-group a:hover {
            text-decoration: underline;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/admin/login" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="tos">
                    <p> I agree to the <a href="/admin/tos">Terms of Service</a></p>
                    <input type="checkbox" id="tos" name="tos" required>
                </label>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
        <% if error %>
            <p class="error-message"><%= error %></p>
        <% end %>
    </div>
</body>
</html>